.social-links img,
.phone img,
.right-side img {
  width: 25px;
  height: 25px;
}

.top-nav {
  display: flex;
  height: 40px;
  background-color: #7B90D6;
  justify-content: flex-end;
  align-items: center;
}
.social-links {
  padding: 6px 15px;
  border-radius: 20px 20px 0 0;
  background-color: #fffdfa;
}
.social-links img {
  padding: 0px 5px;
  cursor: pointer;
}
.phone {
  padding: 0px 30px;
  
}
.phone img {
  position: relative;
  right: 10px;
  top: 7px;
}

.phone-number {
  display: inline-block;
  font-weight: bold;
}
